include MANIFEST CHANGES LICENSE NOTICE

# Add BisonGen source files for XPath
include amara/xpath/parser/xpath.bgen
include amara/xpath/parser/xpath_grammar.bgen.frag
include amara/xpath/parser/xpath_lexer_defines.bgen.frag
include amara/xpath/parser/xpath_lexer_patterns.bgen.frag
include amara/xpath/parser/xpath_modules.bgen.frag
include amara/xpath/parser/xpath_tokens.bgen.frag

# Add BisonGen source files for XSLT
include amara/xslt/expressions/avt.bgen
include amara/xslt/xpatterns/xpattern.bgen

# Add the `demo` directory en masse
graft demo

# Add the `test` directory en masse
graft test

# Include Expat licensing requirements
include amara/src/expat/COPYING
include amara/src/expat/README
