include MANIFEST CHANGES LICENSE NOTICE

# Add BisonGen source files for XPath
include lib/xpath/parser/xpath.bgen
include lib/xpath/parser/xpath_grammar.bgen.frag
include lib/xpath/parser/xpath_lexer_defines.bgen.frag
include lib/xpath/parser/xpath_lexer_patterns.bgen.frag
include lib/xpath/parser/xpath_modules.bgen.frag
include lib/xpath/parser/xpath_tokens.bgen.frag

# Add BisonGen source files for XSLT
include lib/xslt/expressions/avt.bgen
include lib/xslt/xpatterns/xpattern.bgen

# Recursively add contents of named directory
graft demo
graft test
graft sandbox

# Include Expat licensing requirements
include lib/src/expat/COPYING
include lib/src/expat/README
